VITE_API_URL=http://localhost:8080
VITE_RESTAURANT_NAME=NHÀ HÀNG LUMORA
VITE_RESTAURANT_PHONE=0979792909
VITE_GOOGLE_CLIENT_ID=1061032017097-bhuefps2u2jrm0gh6n64r74nbdqmsk0e.apps.googleusercontent.com
